.navButton,
.discord_login_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}


button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

/* hshshss */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
}

.nav_title {
    display: flex;
    align-items: center;
    padding: 5px;
}

.discord_title,
.discord {
    font-weight: bold;
    color: #fff;
    font-size: 25px;
}

.discord_title {
    padding: 10px;
}

.discord_title,
.discord {
    font-weight: bold;
    color: #fff;
    font-size: 25px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.nav-discord-title {
    display: none;
}

hr.line {
    display: none;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.closeMenu {
    display: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.navLinks ul li {
    display: inline-flex;
    list-style: none;
    padding: 0 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}